/*https://coolors.co/app/c8e597-9eaf7c-9d87d3-aa97db-ea6969*/
.team-1 {background:#aa97db} /*purple #d5a6bd; url('../img/test/optica_pattern_02_640.png')*/
.team-0 {background:#c8e597;} /*#6aa84f green*/

.main { font-family:Arial;direction:rtl;font-size:17px;}

#room {font-size:12px; position:absolute; top:0.3em; left:0.3em}
.heidden {display:none}

.header{overflow: hidden;}
.header div{font-weight:bold; font-size:22px; width:32%;display:inline-block;text-align:center;padding:0.4em 0;}
.us{float:right;border-radius: 2.2em;margin-top: 0.3em;margin-right: 0.2em;}
.them-s{float:left;border-radius: 2.2em;margin-top: 0.3em;margin-left: 0.2em;}
.uncleSam{font-family: BN Zika;font-size: 20px !important;padding-top: 0.8em !important;}
.green {background:#247D19;color: white;/*border-color: #9eaf7c;border-style: double;border-width: 7px;*/}
.purple {background:#7D326E;color: white;/*border-color: #9d87d3;border-style: double;border-width: 7px;*/}

#msg{font-size:40px;margin:0.5em;}

#selector, #postfight , .mail-fight{height:15em; width:90% ; margin:3% 5% 3% 5%;}

.game-selections {-webkit-animation: choose 10s infinite ease-in-out;
                            animation: choose 10s ease-in infinite;
                            height:15em;
                            width:32%;
                            display:inline-block;
                            background-size:100% 10em !important}
#scissors {background:url('../img/scissors_s.png') no-repeat top left transparent;}
#paper {background:url('../img/paper2.png') no-repeat top left transparent;}
#rock {background:url('../img/rock2.png') no-repeat top left transparent;}

.waiting4U {/*-webkit-animation: blink 5s steps(1) infinite;
                            animation: blink 5s steps(1)  infinite;*/
							position:absolute;    right: 12em;top: 2.5em;
							font-size: 17px !important;color: darkred;line-height: 0.5;font-weight: normal;}

#fight {position:relative;}

#ourchoice {height:15em;
                    margin:0 auto 0 auto;
                    display:inline-block;
                    margin-left:2em;
                    float:left;
                    position:absolute;}


#selected{position:absolute; right:26em; height:10em;top:0px;width:216px;display:inline-block;background-size:100% 10em !important;}

#selected:not(.no) #oc_sci {-webkit-animation: wait_scissors 3s steps(1) infinite;animation: wait_scissors 3s steps(1) infinite;background:url('../img/scissors_s2.png') no-repeat center center transparent;width:122px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}
#selected:not(.no) #oc_paper {-webkit-animation: wait_paper 3s steps(1) infinite;animation: wait_paper 3s steps(1) infinite;background:url('../img/paper_s2.png') no-repeat center center transparent;width:216px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}
#selected:not(.no) #oc_rock  {-webkit-animation: wait_rock 3s steps(1) infinite;animation: wait_rock 3s steps(1) infinite;background:url('../img/rock_s2.png') no-repeat center center transparent;width:176px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}

#selected.no #oc_sci{-webkit-animation: us_scissors 2s steps(1) 1;animation: us_scissors 2s steps(1) 1;background:url('../img/scissors_s2.png') no-repeat center center transparent;width:122px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}
#selected.no #oc_paper {-webkit-animation: us_paper 2s steps(1) 1;animation: us_paper 2s steps(1) 1;background:url('../img/paper_s2.png') no-repeat center center transparent;width:216px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}
#selected.no #oc_rock  {-webkit-animation: us_rock 2s steps(1) 1;animation: us_rock 2s steps(1) 1;background:url('../img/rock_s2.png') no-repeat center center transparent;width:176px; height:10em;margin-left:2em;float:left;background-size:100% 10em !important;}

#response, #response div.them{position:absolute; right:1em; height:10em;top:0px;width:216px;display:inline-block;background-size:100% 10em !important;}
#response div.scissors {-webkit-animation: them_scissors 2s steps(1) 1;animation: them_scissors 2s steps(1) 1;background:url('../img/scissors_s3.png') no-repeat top left transparent;width:122px;}
#response div.paper {-webkit-animation: them_paper 2s steps(1) 1;animation: them_paper 2s steps(1) 1;background:url('../img/paper_s3.png') no-repeat top left transparent;width:216px;}
#response div.rock {-webkit-animation: them_rock 2s steps(1) 1;animation: them_rock 2s steps(1) 1;background:url('../img/rock_s3.png') no-repeat top left transparent;width:176px;}

.ourresulttext {position:absolute; width:100%}
.ourresulttext div {font-family: 'BN Zika';width: 150px;color: darkred;margin: 3em auto;top: 2em;font-size: 23px;text-align: center;}

/*.win {-webkit-animation: win_fade 6s ease-in 3s 1;animation: win_fade 6s ease-in 3s 1;}*/
.lose {-webkit-animation: lose_fade 3s  1s 1;animation: lose_fade 3s 1s 1;}

/*======== EMAIL + POST FIGHT ============*/

#quip {font-family:BN zika;margin:1em 0;text-align:center;font-size: 18px;}
form {text-align: center;margin-top: 1em;}
#call4arms {margin-top: 1em;text-align:center;font-weight:bold;}
#back2game {font-family:BN zika;margin-top: 1em;text-align:center;font-weight:bold;
						-webkit-animation: choose 3s infinite ease-in-out;animation: choose 3s ease-in infinite;}
/*=====email bttn*/

.mail {
        width: 310px;
        height: 36px;
        background-image: url(../img/mail_bw.png);
        background-repeat: no-repeat;
        background-position-x: 274px;
        position: absolute;
        margin: -65px 23%;
        text-indent: 42px;
        -webkit-animation: choose 10s infinite ease-in-out;
        animation: choose 10s ease-in infinite;}

#fight .mail {margin: -77px 28%;}

/*================FONTS====================*/

@font-face {
    font-family: 'BN Zika';
    src:url('../fonts/BN Zika.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
