<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Evenyaru room status</title>
    </head>
    <body>
        <h1>Evenyaru room status</h1>
        {% if rooms %}
            <dl>
            {% for room in rooms %}
                <dt>{{ room }}:</dt>
                <dd>{{ rooms.get(room) }}</dd>
            {% endfor %}
        {% else %}
            Nobody here :(
        {% endif %}
        
    </body>
</html>
